xsd/UBL2.2/xsd/maindoc/UBL-OrderResponse-2.2.rng

<?xml version="1.0"?>
<!--
  Library:           OASIS Universal Business Language (UBL) 2.2 OS
                     http://docs.oasis-open.org/ubl/os-UBL-2.2/
  Release Date:      09 July 2018
  Module:            xsd/maindoc/UBL-OrderResponse-2.2.xsd
  Generated on:      2018-07-08 20:04z
  Copyright (c) OASIS Open 2018. All Rights Reserved.
-->
<rng:grammar xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:ccts="urn:un:unece:uncefact:documentation:2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2" xmlns:cbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" xmlns="urn:oasis:names:specification:ubl:schema:xsd:OrderResponse-2" ns="urn:oasis:names:specification:ubl:schema:xsd:OrderResponse-2" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
   <!-- ===== Imports ===== -->
   <rng:include href="../common/UBL-CommonAggregateComponents-2.2.rng" ns="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
   <rng:include href="../common/UBL-CommonBasicComponents-2.2.rng" ns="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
   <rng:include href="../common/UBL-CommonExtensionComponents-2.2.rng" ns="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"/>
   <!-- ===== Element Declarations ===== -->
   <rng:start combine="choice"><rng:ref name="starting_OrderResponse"/></rng:start><rng:define name="starting_OrderResponse"><rng:element name="OrderResponse"><rng:ref name="OrderResponseType"/>
      <a:documentation>
         This element MUST be conveyed as the root element in any instance document based on this Schema expression
      </a:documentation>
   </rng:element></rng:define>
   <!-- ===== Type Definitions ===== -->
   <!-- ===== Aggregate Business Information Entity Type Definitions ===== -->
   <rng:define name="OrderResponseType">
      <a:documentation>
         
            <ccts:Component>
               <ccts:ComponentType>ABIE</ccts:ComponentType>
               <ccts:DictionaryEntryName>Order Response. Details</ccts:DictionaryEntryName>
               <ccts:Definition>A document used to indicate detailed acceptance or rejection of an Order or to make a counter-offer.</ccts:Definition>
               <ccts:ObjectClass>Order Response</ccts:ObjectClass>
               <ccts:AlternativeBusinessTerms>Order Acknowledgement, PO Response</ccts:AlternativeBusinessTerms>
            </ccts:Component>
         
      </a:documentation>
      
         <rng:optional><rng:ref name="UBLExtensions"/>
            <a:documentation>
               A container for all extensions present in the document.
            </a:documentation>
         </rng:optional>
        <rng:optional><rng:ref name="UBLVersionID"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. UBL Version Identifier. Identifier</ccts:DictionaryEntryName>
                     <ccts:Definition>Identifies the earliest version of the UBL 2 schema for this document type that defines all of the elements that might be encountered in the current instance.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTerm>UBL Version Identifier</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                     <ccts:DataType>Identifier. Type</ccts:DataType>
                     <ccts:Examples>2.0.5</ccts:Examples>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="CustomizationID"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Customization Identifier. Identifier</ccts:DictionaryEntryName>
                     <ccts:Definition>Identifies a user-defined customization of UBL.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTerm>Customization Identifier</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                     <ccts:DataType>Identifier. Type</ccts:DataType>
                     <ccts:Examples>NES</ccts:Examples>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="ProfileID"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Profile Identifier. Identifier</ccts:DictionaryEntryName>
                     <ccts:Definition>Identifies a user-defined profile of the customization of UBL being used.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTerm>Profile Identifier</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                     <ccts:DataType>Identifier. Type</ccts:DataType>
                     <ccts:Examples>BasicProcurementProcess</ccts:Examples>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="ProfileExecutionID"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Profile Execution Identifier. Identifier</ccts:DictionaryEntryName>
                     <ccts:Definition>Identifies an instance of executing a profile, to associate all transactions in a collaboration.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTerm>Profile Execution Identifier</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                     <ccts:DataType>Identifier. Type</ccts:DataType>
                     <ccts:Examples>BPP-1001</ccts:Examples>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:ref name="ID"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Identifier</ccts:DictionaryEntryName>
                     <ccts:Definition>An identifier for this document, assigned by the sender.</ccts:Definition>
                     <ccts:Cardinality>1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                     <ccts:DataType>Identifier. Type</ccts:DataType>
                     <ccts:AlternativeBusinessTerms>Purchase Order Response Number, Acknowledgement of Order Number</ccts:AlternativeBusinessTerms>
                  </ccts:Component>
               
            </a:documentation>
         
         <rng:optional><rng:ref name="SalesOrderID"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Sales_ Order Identifier. Identifier</ccts:DictionaryEntryName>
                     <ccts:Definition>An identifier for the Order, issued by the Seller.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Sales</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Order Identifier</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                     <ccts:DataType>Identifier. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="CopyIndicator"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Copy_ Indicator. Indicator</ccts:DictionaryEntryName>
                     <ccts:Definition>Indicates whether this document is a copy (true) or not (false).</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Copy</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Indicator</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
                     <ccts:DataType>Indicator. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="UUID"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. UUID. Identifier</ccts:DictionaryEntryName>
                     <ccts:Definition>A universally unique identifier for an instance of this document.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTerm>UUID</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                     <ccts:DataType>Identifier. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:ref name="IssueDate"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Issue Date. Date</ccts:DictionaryEntryName>
                     <ccts:Definition>The date, assigned by the sender, on which this document was issued.</ccts:Definition>
                     <ccts:Cardinality>1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTerm>Issue Date</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
                     <ccts:DataType>Date. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         
         <rng:optional><rng:ref name="IssueTime"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Issue Time. Time</ccts:DictionaryEntryName>
                     <ccts:Definition>The time, assigned by the sender, at which this document was issued.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTerm>Issue Time</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Time</ccts:RepresentationTerm>
                     <ccts:DataType>Time. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="OrderResponseCode"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Order Response Code. Code</ccts:DictionaryEntryName>
                     <ccts:Definition>A code signifying the type of response for this Order.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTerm>Order Response Code</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                     <ccts:DataType>Code. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:zeroOrMore><rng:ref name="Note"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Note. Text</ccts:DictionaryEntryName>
                     <ccts:Definition>Free-form text pertinent to this document, conveying information that is not contained explicitly in other structures.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTerm>Note</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
                     <ccts:DataType>Text. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:optional><rng:ref name="DocumentCurrencyCode"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Document_ Currency Code. Code</ccts:DictionaryEntryName>
                     <ccts:Definition>A code signifying the default currency for this document.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Document</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Currency Code</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                     <ccts:DataTypeQualifier>Currency</ccts:DataTypeQualifier>
                     <ccts:DataType>Currency_ Code. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="PricingCurrencyCode"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Pricing_ Currency Code. Code</ccts:DictionaryEntryName>
                     <ccts:Definition>A code signifying the currency that is used for all prices in the Order Response.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Pricing</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Currency Code</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                     <ccts:DataTypeQualifier>Currency</ccts:DataTypeQualifier>
                     <ccts:DataType>Currency_ Code. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="TaxCurrencyCode"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Tax_ Currency Code. Code</ccts:DictionaryEntryName>
                     <ccts:Definition>A code signifying the currency that is used for all tax amounts in the Order Response.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Tax</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Currency Code</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                     <ccts:DataTypeQualifier>Currency</ccts:DataTypeQualifier>
                     <ccts:DataType>Currency_ Code. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="TotalPackagesQuantity"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Total_ Packages Quantity. Quantity</ccts:DictionaryEntryName>
                     <ccts:Definition>The total number of packages contained in the Order Response.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Total</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Packages Quantity</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Quantity</ccts:RepresentationTerm>
                     <ccts:DataType>Quantity. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="GrossWeightMeasure"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Gross_ Weight. Measure</ccts:DictionaryEntryName>
                     <ccts:Definition>The total gross weight for the Order Response (goods + packaging + transport equipment).</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Gross</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Weight</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
                     <ccts:DataType>Measure. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="NetWeightMeasure"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Net_ Weight. Measure</ccts:DictionaryEntryName>
                     <ccts:Definition>The total net weight for the Order Response (goods + packaging).</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Net</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Weight</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
                     <ccts:DataType>Measure. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="NetNetWeightMeasure"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Net Net_ Weight. Measure</ccts:DictionaryEntryName>
                     <ccts:Definition>The total net weight of the goods in the Order Response excluding packaging.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Net Net</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Weight</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
                     <ccts:DataType>Measure. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="GrossVolumeMeasure"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Gross_ Volume. Measure</ccts:DictionaryEntryName>
                     <ccts:Definition>The total volume of the goods in the Order Response including packaging.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Gross</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Volume</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
                     <ccts:DataType>Measure. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="NetVolumeMeasure"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Net_ Volume. Measure</ccts:DictionaryEntryName>
                     <ccts:Definition>The total volume of the goods in the Order Response excluding packaging.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Net</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Volume</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
                     <ccts:DataType>Measure. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="CustomerReference"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Customer_ Reference. Text</ccts:DictionaryEntryName>
                     <ccts:Definition>A supplementary reference assigned by the buyer, e.g., the CRI in a purchasing card transaction.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Customer</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Reference</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
                     <ccts:DataType>Text. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="AccountingCostCode"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Accounting Cost Code. Code</ccts:DictionaryEntryName>
                     <ccts:Definition>An accounting cost code applied to the order as a whole.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTerm>Accounting Cost Code</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                     <ccts:DataType>Code. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="AccountingCost"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Accounting Cost. Text</ccts:DictionaryEntryName>
                     <ccts:Definition>An accounting cost code applied to the order as a whole, expressed as text.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTerm>Accounting Cost</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
                     <ccts:DataType>Text. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="LineCountNumeric"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Line Count. Numeric</ccts:DictionaryEntryName>
                     <ccts:Definition>The number of Order Lines in this document.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTerm>Line Count</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Numeric</ccts:RepresentationTerm>
                     <ccts:DataType>Numeric. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:zeroOrMore><rng:ref name="ValidityPeriod"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Validity_ Period. Period</ccts:DictionaryEntryName>
                     <ccts:Definition>The period for which the Order Response is valid.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Validity</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Period</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Period</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Period</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:oneOrMore><rng:ref name="OrderReference"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Order Reference</ccts:DictionaryEntryName>
                     <ccts:Definition>A reference to the Order being responded to.</ccts:Definition>
                     <ccts:Cardinality>1..n</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTerm>Order Reference</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Order Reference</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Order Reference</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:oneOrMore>
         <rng:zeroOrMore><rng:ref name="OrderDocumentReference"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Order_ Document Reference. Document Reference</ccts:DictionaryEntryName>
                     <ccts:Definition>A reference to an Order other than the one being responded to.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Order</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Document Reference</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Document Reference</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Document Reference</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:zeroOrMore><rng:ref name="OrderChangeDocumentReference"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Order Change_ Document Reference. Document Reference</ccts:DictionaryEntryName>
                     <ccts:Definition>A reference to an Order Change being responded to.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Order Change</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Document Reference</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Document Reference</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Document Reference</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:optional><rng:ref name="OriginatorDocumentReference"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Originator_ Document Reference. Document Reference</ccts:DictionaryEntryName>
                     <ccts:Definition>A reference to an originator document associated with this document.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Originator</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Document Reference</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Document Reference</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Document Reference</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:zeroOrMore><rng:ref name="AdditionalDocumentReference"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Additional_ Document Reference. Document Reference</ccts:DictionaryEntryName>
                     <ccts:Definition>A reference to an additional document associated with this document.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Additional</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Document Reference</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Document Reference</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Document Reference</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:zeroOrMore><rng:ref name="Contract"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Contract</ccts:DictionaryEntryName>
                     <ccts:Definition>A contract associated with the Order being responded to.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTerm>Contract</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Contract</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Contract</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:zeroOrMore><rng:ref name="Signature"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Signature</ccts:DictionaryEntryName>
                     <ccts:Definition>A signature applied to this document.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTerm>Signature</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Signature</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Signature</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:ref name="SellerSupplierParty"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Seller_ Supplier Party. Supplier Party</ccts:DictionaryEntryName>
                     <ccts:Definition>The seller.</ccts:Definition>
                     <ccts:Cardinality>1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Seller</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Supplier Party</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Supplier Party</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Supplier Party</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         
         <rng:ref name="BuyerCustomerParty"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Buyer_ Customer Party. Customer Party</ccts:DictionaryEntryName>
                     <ccts:Definition>The buyer.</ccts:Definition>
                     <ccts:Cardinality>1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Buyer</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Customer Party</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Customer Party</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Customer Party</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         
         <rng:optional><rng:ref name="OriginatorCustomerParty"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Originator_ Customer Party. Customer Party</ccts:DictionaryEntryName>
                     <ccts:Definition>The originator.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Originator</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Customer Party</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Customer Party</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Customer Party</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="FreightForwarderParty"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Freight Forwarder_ Party. Party</ccts:DictionaryEntryName>
                     <ccts:Definition>A freight forwarder or carrier.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Freight Forwarder</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Party</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Party</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Party</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="AccountingSupplierParty"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Accounting_ Supplier Party. Supplier Party</ccts:DictionaryEntryName>
                     <ccts:Definition>The accounting supplier party.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Accounting</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Supplier Party</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Supplier Party</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Supplier Party</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="AccountingCustomerParty"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Accounting_ Customer Party. Customer Party</ccts:DictionaryEntryName>
                     <ccts:Definition>The accounting customer party.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Accounting</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Customer Party</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Customer Party</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Customer Party</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:zeroOrMore><rng:ref name="Delivery"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Delivery</ccts:DictionaryEntryName>
                     <ccts:Definition>A delivery associated with this document.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTerm>Delivery</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Delivery</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Delivery</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:optional><rng:ref name="DeliveryTerms"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Delivery Terms</ccts:DictionaryEntryName>
                     <ccts:Definition>A set of delivery terms associated with this document.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTerm>Delivery Terms</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Delivery Terms</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Delivery Terms</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:zeroOrMore><rng:ref name="PaymentMeans"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Payment Means</ccts:DictionaryEntryName>
                     <ccts:Definition>Expected means of payment.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTerm>Payment Means</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Payment Means</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Payment Means</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:zeroOrMore><rng:ref name="PaymentTerms"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Payment Terms</ccts:DictionaryEntryName>
                     <ccts:Definition>A set of payment terms associated with this document.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTerm>Payment Terms</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Payment Terms</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Payment Terms</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:zeroOrMore><rng:ref name="AllowanceCharge"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Allowance Charge</ccts:DictionaryEntryName>
                     <ccts:Definition>A discount or charge that applies to a price component.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTerm>Allowance Charge</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Allowance Charge</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Allowance Charge</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:optional><rng:ref name="TransactionConditions"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Transaction Conditions</ccts:DictionaryEntryName>
                     <ccts:Definition>A specification of purchasing or sales conditions applying to the whole Order.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTerm>Transaction Conditions</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Transaction Conditions</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Transaction Conditions</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="TaxExchangeRate"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Tax_ Exchange Rate. Exchange Rate</ccts:DictionaryEntryName>
                     <ccts:Definition>The exchange rate between the document currency and the tax currency.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Tax</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Exchange Rate</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Exchange Rate</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Exchange Rate</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="PricingExchangeRate"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Pricing_ Exchange Rate. Exchange Rate</ccts:DictionaryEntryName>
                     <ccts:Definition>The exchange rate between the document currency and the pricing currency.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Pricing</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Exchange Rate</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Exchange Rate</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Exchange Rate</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="PaymentExchangeRate"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Payment_ Exchange Rate. Exchange Rate</ccts:DictionaryEntryName>
                     <ccts:Definition>The exchange rate between the document currency and the payment currency.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Payment</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Exchange Rate</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Exchange Rate</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Exchange Rate</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="DestinationCountry"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Destination_ Country. Country</ccts:DictionaryEntryName>
                     <ccts:Definition>The country of destination (for customs purposes).</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Destination</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Country</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Country</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Country</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:zeroOrMore><rng:ref name="TaxTotal"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Tax Total</ccts:DictionaryEntryName>
                     <ccts:Definition>The total amount of a specific type of tax, as calculated by the seller.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTerm>Tax Total</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Tax Total</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Tax Total</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:optional><rng:ref name="LegalMonetaryTotal"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Legal_ Monetary Total. Monetary Total</ccts:DictionaryEntryName>
                     <ccts:Definition>The total amount of the Order (or counter-offer).</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Legal</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Monetary Total</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Monetary Total</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Monetary Total</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:zeroOrMore><rng:ref name="OrderLine"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Order Response. Order Line</ccts:DictionaryEntryName>
                     <ccts:Definition>A line associated with a line in the Catalogue and specifying a kind of item being ordered.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Order Response</ccts:ObjectClass>
                     <ccts:PropertyTerm>Order Line</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Order Line</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Order Line</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
      
   </rng:define>
</rng:grammar><!-- ===== Copyright Notice ===== -->
<!--
  OASIS takes no position regarding the validity or scope of any 
  intellectual property or other rights that might be claimed to pertain 
  to the implementation or use of the technology described in this 
  document or the extent to which any license under such rights 
  might or might not be available; neither does it represent that it has 
  made any effort to identify any such rights. Information on OASIS's 
  procedures with respect to rights in OASIS specifications can be 
  found at the OASIS website. Copies of claims of rights made 
  available for publication and any assurances of licenses to be made 
  available, or the result of an attempt made to obtain a general 
  license or permission for the use of such proprietary rights by 
  implementors or users of this specification, can be obtained from 
  the OASIS Executive Director.

  OASIS invites any interested party to bring to its attention any 
  copyrights, patents or patent applications, or other proprietary 
  rights which may cover technology that may be required to 
  implement this specification. Please address the information to the 
  OASIS Executive Director.
  
  This document and translations of it may be copied and furnished to 
  others, and derivative works that comment on or otherwise explain 
  it or assist in its implementation may be prepared, copied, 
  published and distributed, in whole or in part, without restriction of 
  any kind, provided that the above copyright notice and this 
  paragraph are included on all such copies and derivative works. 
  However, this document itself may not be modified in any way, 
  such as by removing the copyright notice or references to OASIS, 
  except as needed for the purpose of developing OASIS 
  specifications, in which case the procedures for copyrights defined 
  in the OASIS Intellectual Property Rights document must be 
  followed, or as required to translate it into languages other than 
  English. 

  The limited permissions granted above are perpetual and will not be 
  revoked by OASIS or its successors or assigns. 

  This document and the information contained herein is provided on 
  an "AS IS" basis and OASIS DISCLAIMS ALL WARRANTIES, 
  EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY 
  WARRANTY THAT THE USE OF THE INFORMATION HEREIN 
  WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED 
  WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A 
  PARTICULAR PURPOSE.    
-->
