xsd/UBL2.2/xsd/maindoc/UBL-GoodsItemItinerary-2.2.rng

<?xml version="1.0"?>
<!--
  Library:           OASIS Universal Business Language (UBL) 2.2 OS
                     http://docs.oasis-open.org/ubl/os-UBL-2.2/
  Release Date:      09 July 2018
  Module:            xsd/maindoc/UBL-GoodsItemItinerary-2.2.xsd
  Generated on:      2018-07-08 20:04z
  Copyright (c) OASIS Open 2018. All Rights Reserved.
-->
<rng:grammar xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:ccts="urn:un:unece:uncefact:documentation:2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2" xmlns:cbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" xmlns="urn:oasis:names:specification:ubl:schema:xsd:GoodsItemItinerary-2" ns="urn:oasis:names:specification:ubl:schema:xsd:GoodsItemItinerary-2" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
   <!-- ===== Imports ===== -->
   <rng:include href="../common/UBL-CommonAggregateComponents-2.2.rng" ns="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
   <rng:include href="../common/UBL-CommonBasicComponents-2.2.rng" ns="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
   <rng:include href="../common/UBL-CommonExtensionComponents-2.2.rng" ns="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"/>
   <!-- ===== Element Declarations ===== -->
   <rng:start combine="choice"><rng:ref name="starting_GoodsItemItinerary"/></rng:start><rng:define name="starting_GoodsItemItinerary"><rng:element name="GoodsItemItinerary"><rng:ref name="GoodsItemItineraryType"/>
      <a:documentation>
         This element MUST be conveyed as the root element in any instance document based on this Schema expression
      </a:documentation>
   </rng:element></rng:define>
   <!-- ===== Type Definitions ===== -->
   <!-- ===== Aggregate Business Information Entity Type Definitions ===== -->
   <rng:define name="GoodsItemItineraryType">
      <a:documentation>
         
            <ccts:Component>
               <ccts:ComponentType>ABIE</ccts:ComponentType>
               <ccts:DictionaryEntryName>Goods Item Itinerary. Details</ccts:DictionaryEntryName>
               <ccts:Definition>A document providing details relating to a transport service, such as transport movement, identification of equipment and goods, subcontracted service providers, etc.</ccts:Definition>
               <ccts:ObjectClass>Goods Item Itinerary</ccts:ObjectClass>
            </ccts:Component>
         
      </a:documentation>
      
         <rng:optional><rng:ref name="UBLExtensions"/>
            <a:documentation>
               A container for all extensions present in the document.
            </a:documentation>
         </rng:optional>
        <rng:optional><rng:ref name="UBLVersionID"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Goods Item Itinerary. UBL Version Identifier. Identifier</ccts:DictionaryEntryName>
                     <ccts:Definition>Identifies the earliest version of the UBL 2 schema for this document type that defines all of the elements that might be encountered in the current instance.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Goods Item Itinerary</ccts:ObjectClass>
                     <ccts:PropertyTerm>UBL Version Identifier</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                     <ccts:DataType>Identifier. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="CustomizationID"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Goods Item Itinerary. Customization Identifier. Identifier</ccts:DictionaryEntryName>
                     <ccts:Definition>Identifies a user-defined customization of UBL for a specific use.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Goods Item Itinerary</ccts:ObjectClass>
                     <ccts:PropertyTerm>Customization Identifier</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                     <ccts:DataType>Identifier. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="ProfileID"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Goods Item Itinerary. Profile Identifier. Identifier</ccts:DictionaryEntryName>
                     <ccts:Definition>Identifies a user-defined profile of the customization of UBL being used.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Goods Item Itinerary</ccts:ObjectClass>
                     <ccts:PropertyTerm>Profile Identifier</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                     <ccts:DataType>Identifier. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="ProfileExecutionID"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Goods Item Itinerary. Profile Execution Identifier. Identifier</ccts:DictionaryEntryName>
                     <ccts:Definition>Identifies an instance of executing a profile, to associate all transactions in a collaboration.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Goods Item Itinerary</ccts:ObjectClass>
                     <ccts:PropertyTerm>Profile Execution Identifier</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                     <ccts:DataType>Identifier. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:ref name="ID"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Goods Item Itinerary. Identifier</ccts:DictionaryEntryName>
                     <ccts:Definition>An identifier for this document, assigned by the sender.</ccts:Definition>
                     <ccts:Cardinality>1</ccts:Cardinality>
                     <ccts:ObjectClass>Goods Item Itinerary</ccts:ObjectClass>
                     <ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                     <ccts:DataType>Identifier. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         
         <rng:optional><rng:ref name="CopyIndicator"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Goods Item Itinerary. Copy_ Indicator. Indicator</ccts:DictionaryEntryName>
                     <ccts:Definition>Indicates whether this document is a copy (true) or not (false).</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Goods Item Itinerary</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Copy</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Indicator</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
                     <ccts:DataType>Indicator. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="UUID"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Goods Item Itinerary. UUID. Identifier</ccts:DictionaryEntryName>
                     <ccts:Definition>A universally unique identifier for an instance of this document.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Goods Item Itinerary</ccts:ObjectClass>
                     <ccts:PropertyTerm>UUID</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                     <ccts:DataType>Identifier. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:ref name="IssueDate"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Goods Item Itinerary. Issue Date. Date</ccts:DictionaryEntryName>
                     <ccts:Definition>The date, assigned by the sender, on which this document was issued.</ccts:Definition>
                     <ccts:Cardinality>1</ccts:Cardinality>
                     <ccts:ObjectClass>Goods Item Itinerary</ccts:ObjectClass>
                     <ccts:PropertyTerm>Issue Date</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
                     <ccts:DataType>Date. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         
         <rng:ref name="IssueTime"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Goods Item Itinerary. Issue Time. Time</ccts:DictionaryEntryName>
                     <ccts:Definition>The time, assigned by the sender, at which this document was issued.</ccts:Definition>
                     <ccts:Cardinality>1</ccts:Cardinality>
                     <ccts:ObjectClass>Goods Item Itinerary</ccts:ObjectClass>
                     <ccts:PropertyTerm>Issue Time</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Time</ccts:RepresentationTerm>
                     <ccts:DataType>Time. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         
         <rng:zeroOrMore><rng:ref name="Note"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Goods Item Itinerary. Note. Text</ccts:DictionaryEntryName>
                     <ccts:Definition>Free-form text pertinent to this document, conveying information that is not contained explicitly in other structures.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Goods Item Itinerary</ccts:ObjectClass>
                     <ccts:PropertyTerm>Note</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
                     <ccts:DataType>Text. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:ref name="VersionID"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Goods Item Itinerary. Version. Identifier</ccts:DictionaryEntryName>
                     <ccts:Definition>Identifies a version of a Goods Item Itinerary in order to distinguish updates.</ccts:Definition>
                     <ccts:Cardinality>1</ccts:Cardinality>
                     <ccts:ObjectClass>Goods Item Itinerary</ccts:ObjectClass>
                     <ccts:PropertyTerm>Version</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                     <ccts:DataType>Identifier. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         
         <rng:ref name="TransportExecutionPlanReferenceID"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Goods Item Itinerary. Transport Execution Plan Reference. Identifier</ccts:DictionaryEntryName>
                     <ccts:Definition>The Transport Execution Plan associated with this Goods Item Itinerary.</ccts:Definition>
                     <ccts:Cardinality>1</ccts:Cardinality>
                     <ccts:ObjectClass>Goods Item Itinerary</ccts:ObjectClass>
                     <ccts:PropertyTerm>Transport Execution Plan Reference</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                     <ccts:DataType>Identifier. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         
         <rng:zeroOrMore><rng:ref name="Signature"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Goods Item Itinerary. Signature</ccts:DictionaryEntryName>
                     <ccts:Definition>A signature applied to this document.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Goods Item Itinerary</ccts:ObjectClass>
                     <ccts:PropertyTerm>Signature</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Signature</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Signature</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:optional><rng:ref name="SenderParty"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Goods Item Itinerary. Sender_ Party. Party</ccts:DictionaryEntryName>
                     <ccts:Definition>The sender of this Goods Item Itinerary.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Goods Item Itinerary</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Sender</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Party</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Party</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Party</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="ReceiverParty"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Goods Item Itinerary. Receiver_ Party. Party</ccts:DictionaryEntryName>
                     <ccts:Definition>The receiver of this Goods Item Itinerary.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Goods Item Itinerary</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Receiver</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Party</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Party</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Party</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:zeroOrMore><rng:ref name="ReferencedConsignment"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Goods Item Itinerary. Referenced_ Consignment. Consignment</ccts:DictionaryEntryName>
                     <ccts:Definition>A consignment being transported in the transport service associated with this Goods Item Itinerary.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Goods Item Itinerary</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Referenced</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Consignment</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Consignment</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Consignment</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:zeroOrMore><rng:ref name="ReferencedTransportEquipment"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Goods Item Itinerary. Referenced_ Transport Equipment. Transport Equipment</ccts:DictionaryEntryName>
                     <ccts:Definition>Transport equipment being transported in the transport service associated with this Goods Item Itinerary.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Goods Item Itinerary</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Referenced</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Transport Equipment</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Transport Equipment</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Transport Equipment</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:zeroOrMore><rng:ref name="ReferencedPackage"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Goods Item Itinerary. Referenced_ Package. Package</ccts:DictionaryEntryName>
                     <ccts:Definition>A package being transported in the transport service associated with this Goods Item Itinerary.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Goods Item Itinerary</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Referenced</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Package</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Package</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Package</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:zeroOrMore><rng:ref name="ReferencedGoodsItem"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Goods Item Itinerary. Referenced_ Goods Item. Goods Item</ccts:DictionaryEntryName>
                     <ccts:Definition>An item of goods being transported in the transport service associated with this Goods Item Itinerary.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Goods Item Itinerary</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Referenced</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Goods Item</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Goods Item</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Goods Item</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:oneOrMore><rng:ref name="TransportationSegment"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Goods Item Itinerary. Transportation Segment</ccts:DictionaryEntryName>
                     <ccts:Definition>A part of a transport service that has its own Transport Execution Plan. A Transportation Segment may cover services other than transport, such as terminal handling, document management, customs procedures, etc.</ccts:Definition>
                     <ccts:Cardinality>1..n</ccts:Cardinality>
                     <ccts:ObjectClass>Goods Item Itinerary</ccts:ObjectClass>
                     <ccts:PropertyTerm>Transportation Segment</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Transportation Segment</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Transportation Segment</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:oneOrMore>
      
   </rng:define>
</rng:grammar><!-- ===== Copyright Notice ===== -->
<!--
  OASIS takes no position regarding the validity or scope of any 
  intellectual property or other rights that might be claimed to pertain 
  to the implementation or use of the technology described in this 
  document or the extent to which any license under such rights 
  might or might not be available; neither does it represent that it has 
  made any effort to identify any such rights. Information on OASIS's 
  procedures with respect to rights in OASIS specifications can be 
  found at the OASIS website. Copies of claims of rights made 
  available for publication and any assurances of licenses to be made 
  available, or the result of an attempt made to obtain a general 
  license or permission for the use of such proprietary rights by 
  implementors or users of this specification, can be obtained from 
  the OASIS Executive Director.

  OASIS invites any interested party to bring to its attention any 
  copyrights, patents or patent applications, or other proprietary 
  rights which may cover technology that may be required to 
  implement this specification. Please address the information to the 
  OASIS Executive Director.
  
  This document and translations of it may be copied and furnished to 
  others, and derivative works that comment on or otherwise explain 
  it or assist in its implementation may be prepared, copied, 
  published and distributed, in whole or in part, without restriction of 
  any kind, provided that the above copyright notice and this 
  paragraph are included on all such copies and derivative works. 
  However, this document itself may not be modified in any way, 
  such as by removing the copyright notice or references to OASIS, 
  except as needed for the purpose of developing OASIS 
  specifications, in which case the procedures for copyrights defined 
  in the OASIS Intellectual Property Rights document must be 
  followed, or as required to translate it into languages other than 
  English. 

  The limited permissions granted above are perpetual and will not be 
  revoked by OASIS or its successors or assigns. 

  This document and the information contained herein is provided on 
  an "AS IS" basis and OASIS DISCLAIMS ALL WARRANTIES, 
  EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY 
  WARRANTY THAT THE USE OF THE INFORMATION HEREIN 
  WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED 
  WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A 
  PARTICULAR PURPOSE.    
-->
