xsd/UBL2.2/xsd/maindoc/UBL-CommonExtensionComponents-2.2.rnc

# Library:           OASIS Universal Business Language (UBL) 2.2 OS
#                    http://docs.oasis-open.org/ubl/os-UBL-2.2/
# Release Date:      09 July 2018
# Module:            UBL-CommonExtensionComponents-2.2.xsd
# Generated on:      2017-01-02 17:20(UTC)
# Copyright (c) OASIS Open 2017. All Rights Reserved.

default namespace =
  "urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"
namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"
namespace cbc =
  "urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
namespace rng = "http://relaxng.org/ns/structure/1.0"
namespace udt =
  "urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
namespace xsd = "http://www.w3.org/2001/XMLSchema"

# ===== Imports =====
include "UBL-UnqualifiedDataTypes-2.2.rnc" inherit = udt
include "UBL-CommonBasicComponents-2.2.rnc" inherit = cbc
# ===== Includes =====
include "UBL-ExtensionContentDataType-2.2.rnc"
# ===== Aggregate Element and Type Declarations =====
start |= starting_UBLExtensions
starting_UBLExtensions =
  element UBLExtensions {
    UBLExtensionsType
    >> a:documentation [
         "\x{a}" ~
         "      \x{a}" ~
         "        A container for all extensions present in the document.\x{a}" ~
         "      \x{a}" ~
         "    "
       ]
  }

## 
##       
##         A container for all extensions present in the document.
##       
##     
UBLExtensionsType =
  UBLExtension
  >> a:documentation [
       "\x{a}" ~
       "          \x{a}" ~
       "            A single extension for private use.\x{a}" ~
       "          \x{a}" ~
       "        "
     ]+
start |= starting_UBLExtension
starting_UBLExtension =
  element UBLExtension {
    UBLExtensionType
    >> a:documentation [
         "\x{a}" ~
         "      \x{a}" ~
         "        A single extension for private use.\x{a}" ~
         "      \x{a}" ~
         "    "
       ]
  }

## 
##       
##         A single extension for private use.
##       
##     
UBLExtensionType =
  ID
  >> a:documentation [
       "\x{a}" ~
       "          \x{a}" ~
       "            An identifier for the Extension assigned by the creator of the extension.\x{a}" ~
       "          \x{a}" ~
       "        "
     ]?,
  Name
  >> a:documentation [
       "\x{a}" ~
       "          \x{a}" ~
       "            A name for the Extension assigned by the creator of the extension.\x{a}" ~
       "          \x{a}" ~
       "        "
     ]?,
  ExtensionAgencyID
  >> a:documentation [
       "\x{a}" ~
       "          \x{a}" ~
       "            An agency that maintains one or more Extensions.\x{a}" ~
       "          \x{a}" ~
       "        "
     ]?,
  ExtensionAgencyName
  >> a:documentation [
       "\x{a}" ~
       "          \x{a}" ~
       "            The name of the agency that maintains the Extension.\x{a}" ~
       "          \x{a}" ~
       "        "
     ]?,
  ExtensionVersionID
  >> a:documentation [
       "\x{a}" ~
       "          \x{a}" ~
       "            The version of the Extension.\x{a}" ~
       "          \x{a}" ~
       "        "
     ]?,
  ExtensionAgencyURI
  >> a:documentation [
       "\x{a}" ~
       "          \x{a}" ~
       "            A URI for the Agency that maintains the Extension.\x{a}" ~
       "          \x{a}" ~
       "        "
     ]?,
  ExtensionURI
  >> a:documentation [
       "\x{a}" ~
       "          \x{a}" ~
       "            A URI for the Extension.\x{a}" ~
       "          \x{a}" ~
       "        "
     ]?,
  ExtensionReasonCode
  >> a:documentation [
       "\x{a}" ~
       "          \x{a}" ~
       "            A code for reason the Extension is being included.\x{a}" ~
       "          \x{a}" ~
       "        "
     ]?,
  ExtensionReason
  >> a:documentation [
       "\x{a}" ~
       "          \x{a}" ~
       "            A description of the reason for the Extension.\x{a}" ~
       "          \x{a}" ~
       "        "
     ]?,
  ExtensionContent
  >> a:documentation [
       "\x{a}" ~
       "          \x{a}" ~
       "            The definition of the extension content.\x{a}" ~
       "          \x{a}" ~
       "        "
     ]
# ===== Basic Element and Type Declarations =====
start |= starting_ExtensionAgencyID
starting_ExtensionAgencyID =
  element ExtensionAgencyID { ExtensionAgencyIDType }
start |= starting_ExtensionAgencyName
starting_ExtensionAgencyName =
  element ExtensionAgencyName { ExtensionAgencyNameType }
start |= starting_ExtensionAgencyURI
starting_ExtensionAgencyURI =
  element ExtensionAgencyURI { ExtensionAgencyURIType }
start |= starting_ExtensionContent
starting_ExtensionContent =
  element ExtensionContent { ExtensionContentType }
start |= starting_ExtensionReason
starting_ExtensionReason =
  element ExtensionReason { ExtensionReasonType }
start |= starting_ExtensionReasonCode
starting_ExtensionReasonCode =
  element ExtensionReasonCode { ExtensionReasonCodeType }
start |= starting_ExtensionURI
starting_ExtensionURI = element ExtensionURI { ExtensionURIType }
start |= starting_ExtensionVersionID
starting_ExtensionVersionID =
  element ExtensionVersionID { ExtensionVersionIDType }
ExtensionAgencyIDType = IdentifierType
ExtensionAgencyNameType = NameType
ExtensionAgencyURIType = IdentifierType
ExtensionReasonType = TextType
ExtensionReasonCodeType = CodeType
ExtensionURIType = IdentifierType
ExtensionVersionIDType = IdentifierType
# ===== Copyright Notice =====

# OASIS takes no position regarding the validity or scope of any 
# intellectual property or other rights that might be claimed to pertain 
# to the implementation or use of the technology described in this 
# document or the extent to which any license under such rights 
# might or might not be available; neither does it represent that it has 
# made any effort to identify any such rights. Information on OASIS's 
# procedures with respect to rights in OASIS specifications can be 
# found at the OASIS website. Copies of claims of rights made 
# available for publication and any assurances of licenses to be made 
# available, or the result of an attempt made to obtain a general 
# license or permission for the use of such proprietary rights by 
# implementors or users of this specification, can be obtained from 
# the OASIS Executive Director.
# 
# OASIS invites any interested party to bring to its attention any 
# copyrights, patents or patent applications, or other proprietary 
# rights which may cover technology that may be required to 
# implement this specification. Please address the information to the 
# OASIS Executive Director.
# 
# This document and translations of it may be copied and furnished to 
# others, and derivative works that comment on or otherwise explain 
# it or assist in its implementation may be prepared, copied, 
# published and distributed, in whole or in part, without restriction of 
# any kind, provided that the above copyright notice and this 
# paragraph are included on all such copies and derivative works. 
# However, this document itself may not be modified in any way, 
# such as by removing the copyright notice or references to OASIS, 
# except as needed for the purpose of developing OASIS 
# specifications, in which case the procedures for copyrights defined 
# in the OASIS Intellectual Property Rights document must be 
# followed, or as required to translate it into languages other than 
# English. 
# 
# The limited permissions granted above are perpetual and will not be 
# revoked by OASIS or its successors or assigns. 
# 
# This document and the information contained herein is provided on 
# an "AS IS" basis and OASIS DISCLAIMS ALL WARRANTIES, 
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY 
# WARRANTY THAT THE USE OF THE INFORMATION HEREIN 
# WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED 
# WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A 
# PARTICULAR PURPOSE.
