xsd/UBL2.2/xsd/maindoc/UBL-TransportProgressStatus-2.2.rng

<?xml version="1.0"?>
<!--
  Library:           OASIS Universal Business Language (UBL) 2.2 OS
                     http://docs.oasis-open.org/ubl/os-UBL-2.2/
  Release Date:      09 July 2018
  Module:            xsd/maindoc/UBL-TransportProgressStatus-2.2.xsd
  Generated on:      2018-07-08 20:04z
  Copyright (c) OASIS Open 2018. All Rights Reserved.
-->
<rng:grammar xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:ccts="urn:un:unece:uncefact:documentation:2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2" xmlns:cbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" xmlns="urn:oasis:names:specification:ubl:schema:xsd:TransportProgressStatus-2" ns="urn:oasis:names:specification:ubl:schema:xsd:TransportProgressStatus-2" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
   <!-- ===== Imports ===== -->
   <rng:include href="../common/UBL-CommonAggregateComponents-2.2.rng" ns="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
   <rng:include href="../common/UBL-CommonBasicComponents-2.2.rng" ns="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
   <rng:include href="../common/UBL-CommonExtensionComponents-2.2.rng" ns="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"/>
   <!-- ===== Element Declarations ===== -->
   <rng:start combine="choice"><rng:ref name="starting_TransportProgressStatus"/></rng:start><rng:define name="starting_TransportProgressStatus"><rng:element name="TransportProgressStatus"><rng:ref name="TransportProgressStatusType"/>
      <a:documentation>
         This element MUST be conveyed as the root element in any instance document based on this Schema expression
      </a:documentation>
   </rng:element></rng:define>
   <!-- ===== Type Definitions ===== -->
   <!-- ===== Aggregate Business Information Entity Type Definitions ===== -->
   <rng:define name="TransportProgressStatusType">
      <a:documentation>
         
            <ccts:Component>
               <ccts:ComponentType>ABIE</ccts:ComponentType>
               <ccts:DictionaryEntryName>Transport Progress Status. Details</ccts:DictionaryEntryName>
               <ccts:Definition>A document sent from a Transportation Network Manager to a Transport Service Provider giving the status of the whereabouts and schedule of the transport means involved in a transport service.</ccts:Definition>
               <ccts:ObjectClass>Transport Progress Status</ccts:ObjectClass>
            </ccts:Component>
         
      </a:documentation>
      
         <rng:optional><rng:ref name="UBLExtensions"/>
            <a:documentation>
               A container for all extensions present in the document.
            </a:documentation>
         </rng:optional>
        <rng:optional><rng:ref name="UBLVersionID"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Transport Progress Status. UBL Version Identifier. Identifier</ccts:DictionaryEntryName>
                     <ccts:Definition>Identifies the earliest version of the UBL 2 schema for this document type that defines all of the elements that might be encountered in the current instance.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Transport Progress Status</ccts:ObjectClass>
                     <ccts:PropertyTerm>UBL Version Identifier</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                     <ccts:DataType>Identifier. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="CustomizationID"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Transport Progress Status. Customization Identifier. Identifier</ccts:DictionaryEntryName>
                     <ccts:Definition>Identifies a user-defined customization of UBL for a specific use.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Transport Progress Status</ccts:ObjectClass>
                     <ccts:PropertyTerm>Customization Identifier</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                     <ccts:DataType>Identifier. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="ProfileID"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Transport Progress Status. Profile Identifier. Identifier</ccts:DictionaryEntryName>
                     <ccts:Definition>Identifies a user-defined profile of the customization of UBL being used.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Transport Progress Status</ccts:ObjectClass>
                     <ccts:PropertyTerm>Profile Identifier</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                     <ccts:DataType>Identifier. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="ProfileExecutionID"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Transport Progress Status. Profile Execution Identifier. Identifier</ccts:DictionaryEntryName>
                     <ccts:Definition>Identifies an instance of executing a profile, to associate all transactions in a collaboration.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Transport Progress Status</ccts:ObjectClass>
                     <ccts:PropertyTerm>Profile Execution Identifier</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                     <ccts:DataType>Identifier. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:ref name="ID"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Transport Progress Status. Identifier</ccts:DictionaryEntryName>
                     <ccts:Definition>An identifier for this document, assigned by the sender.</ccts:Definition>
                     <ccts:Cardinality>1</ccts:Cardinality>
                     <ccts:ObjectClass>Transport Progress Status</ccts:ObjectClass>
                     <ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                     <ccts:DataType>Identifier. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         
         <rng:optional><rng:ref name="CopyIndicator"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Transport Progress Status. Copy_ Indicator. Indicator</ccts:DictionaryEntryName>
                     <ccts:Definition>Indicates whether this document is a copy (true) or not (false).</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Transport Progress Status</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Copy</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Indicator</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
                     <ccts:DataType>Indicator. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="UUID"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Transport Progress Status. UUID. Identifier</ccts:DictionaryEntryName>
                     <ccts:Definition>A universally unique identifier for an instance of this document.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Transport Progress Status</ccts:ObjectClass>
                     <ccts:PropertyTerm>UUID</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                     <ccts:DataType>Identifier. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:ref name="IssueDate"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Transport Progress Status. Issue Date. Date</ccts:DictionaryEntryName>
                     <ccts:Definition>The date, assigned by the sender, on which this document was issued.</ccts:Definition>
                     <ccts:Cardinality>1</ccts:Cardinality>
                     <ccts:ObjectClass>Transport Progress Status</ccts:ObjectClass>
                     <ccts:PropertyTerm>Issue Date</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
                     <ccts:DataType>Date. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         
         <rng:ref name="IssueTime"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Transport Progress Status. Issue Time. Time</ccts:DictionaryEntryName>
                     <ccts:Definition>The time, assigned by the sender, at which this document was issued.</ccts:Definition>
                     <ccts:Cardinality>1</ccts:Cardinality>
                     <ccts:ObjectClass>Transport Progress Status</ccts:ObjectClass>
                     <ccts:PropertyTerm>Issue Time</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Time</ccts:RepresentationTerm>
                     <ccts:DataType>Time. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         
         <rng:zeroOrMore><rng:ref name="Note"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Transport Progress Status. Note. Text</ccts:DictionaryEntryName>
                     <ccts:Definition>Free-form text pertinent to this document, conveying information that is not contained explicitly in other structures.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Transport Progress Status</ccts:ObjectClass>
                     <ccts:PropertyTerm>Note</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
                     <ccts:DataType>Text. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:optional><rng:ref name="StatusAvailableIndicator"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Transport Progress Status. Status Available_ Indicator. Indicator</ccts:DictionaryEntryName>
                     <ccts:Definition>Indicates whether transport progress information is available.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Transport Progress Status</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Status Available</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Indicator</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
                     <ccts:DataType>Indicator. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:zeroOrMore><rng:ref name="Signature"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Transport Progress Status. Signature</ccts:DictionaryEntryName>
                     <ccts:Definition>A signature applied to this document.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Transport Progress Status</ccts:ObjectClass>
                     <ccts:PropertyTerm>Signature</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Signature</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Signature</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:optional><rng:ref name="SenderParty"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Transport Progress Status. Sender_ Party. Party</ccts:DictionaryEntryName>
                     <ccts:Definition>The party sending the Transport Progress Status.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Transport Progress Status</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Sender</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Party</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Party</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Party</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="ReceiverParty"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Transport Progress Status. Receiver_ Party. Party</ccts:DictionaryEntryName>
                     <ccts:Definition>The party receiving the Transport Progress Status.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Transport Progress Status</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Receiver</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Party</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Party</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Party</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="SourceIssuerParty"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Transport Progress Status. Source Issuer_ Party. Party</ccts:DictionaryEntryName>
                     <ccts:Definition>The party that is the source of the Transport Progress Status.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Transport Progress Status</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Source Issuer</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Party</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Party</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Party</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="TransportProgressStatusRequestDocumentReference"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Transport Progress Status. Transport Progress Status Request_ Document Reference. Document Reference</ccts:DictionaryEntryName>
                     <ccts:Definition>A reference to the Transport Progress Status Request document to which this status report is a response.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Transport Progress Status</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Transport Progress Status Request</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Document Reference</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Document Reference</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Document Reference</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:ref name="TransportMeans"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Transport Progress Status. Transport Means</ccts:DictionaryEntryName>
                     <ccts:Definition>The transport means by which the current transport service is effectuated.</ccts:Definition>
                     <ccts:Cardinality>1</ccts:Cardinality>
                     <ccts:ObjectClass>Transport Progress Status</ccts:ObjectClass>
                     <ccts:PropertyTerm>Transport Means</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Transport Means</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Transport Means</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         
         <rng:zeroOrMore><rng:ref name="TransportSchedule"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Transport Progress Status. Transport Schedule</ccts:DictionaryEntryName>
                     <ccts:Definition>Describes the status and schedule of the transport means operating the transport service as well as the current location of the transport means.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Transport Progress Status</ccts:ObjectClass>
                     <ccts:PropertyTerm>Transport Schedule</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Transport Schedule</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Transport Schedule</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
      
   </rng:define>
</rng:grammar><!-- ===== Copyright Notice ===== -->
<!--
  OASIS takes no position regarding the validity or scope of any 
  intellectual property or other rights that might be claimed to pertain 
  to the implementation or use of the technology described in this 
  document or the extent to which any license under such rights 
  might or might not be available; neither does it represent that it has 
  made any effort to identify any such rights. Information on OASIS's 
  procedures with respect to rights in OASIS specifications can be 
  found at the OASIS website. Copies of claims of rights made 
  available for publication and any assurances of licenses to be made 
  available, or the result of an attempt made to obtain a general 
  license or permission for the use of such proprietary rights by 
  implementors or users of this specification, can be obtained from 
  the OASIS Executive Director.

  OASIS invites any interested party to bring to its attention any 
  copyrights, patents or patent applications, or other proprietary 
  rights which may cover technology that may be required to 
  implement this specification. Please address the information to the 
  OASIS Executive Director.
  
  This document and translations of it may be copied and furnished to 
  others, and derivative works that comment on or otherwise explain 
  it or assist in its implementation may be prepared, copied, 
  published and distributed, in whole or in part, without restriction of 
  any kind, provided that the above copyright notice and this 
  paragraph are included on all such copies and derivative works. 
  However, this document itself may not be modified in any way, 
  such as by removing the copyright notice or references to OASIS, 
  except as needed for the purpose of developing OASIS 
  specifications, in which case the procedures for copyrights defined 
  in the OASIS Intellectual Property Rights document must be 
  followed, or as required to translate it into languages other than 
  English. 

  The limited permissions granted above are perpetual and will not be 
  revoked by OASIS or its successors or assigns. 

  This document and the information contained herein is provided on 
  an "AS IS" basis and OASIS DISCLAIMS ALL WARRANTIES, 
  EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY 
  WARRANTY THAT THE USE OF THE INFORMATION HEREIN 
  WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED 
  WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A 
  PARTICULAR PURPOSE.    
-->
