xsd/UBL2.2/xsd/maindoc/UBL-SelfBilledInvoice-2.2.rng

<?xml version="1.0"?>
<!--
  Library:           OASIS Universal Business Language (UBL) 2.2 OS
                     http://docs.oasis-open.org/ubl/os-UBL-2.2/
  Release Date:      09 July 2018
  Module:            xsd/maindoc/UBL-SelfBilledInvoice-2.2.xsd
  Generated on:      2018-07-08 20:04z
  Copyright (c) OASIS Open 2018. All Rights Reserved.
-->
<rng:grammar xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:ccts="urn:un:unece:uncefact:documentation:2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2" xmlns:cbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" xmlns="urn:oasis:names:specification:ubl:schema:xsd:SelfBilledInvoice-2" ns="urn:oasis:names:specification:ubl:schema:xsd:SelfBilledInvoice-2" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
   <!-- ===== Imports ===== -->
   <rng:include href="../common/UBL-CommonAggregateComponents-2.2.rng" ns="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
   <rng:include href="../common/UBL-CommonBasicComponents-2.2.rng" ns="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
   <rng:include href="../common/UBL-CommonExtensionComponents-2.2.rng" ns="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"/>
   <!-- ===== Element Declarations ===== -->
   <rng:start combine="choice"><rng:ref name="starting_SelfBilledInvoice"/></rng:start><rng:define name="starting_SelfBilledInvoice"><rng:element name="SelfBilledInvoice"><rng:ref name="SelfBilledInvoiceType"/>
      <a:documentation>
         This element MUST be conveyed as the root element in any instance document based on this Schema expression
      </a:documentation>
   </rng:element></rng:define>
   <!-- ===== Type Definitions ===== -->
   <!-- ===== Aggregate Business Information Entity Type Definitions ===== -->
   <rng:define name="SelfBilledInvoiceType">
      <a:documentation>
         
            <ccts:Component>
               <ccts:ComponentType>ABIE</ccts:ComponentType>
               <ccts:DictionaryEntryName>Self Billed Invoice. Details</ccts:DictionaryEntryName>
               <ccts:Definition>An Invoice document created by the Customer (rather than the Supplier) in a Self Billing relationship.</ccts:Definition>
               <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
            </ccts:Component>
         
      </a:documentation>
      
         <rng:optional><rng:ref name="UBLExtensions"/>
            <a:documentation>
               A container for all extensions present in the document.
            </a:documentation>
         </rng:optional>
        <rng:optional><rng:ref name="UBLVersionID"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. UBL Version Identifier. Identifier</ccts:DictionaryEntryName>
                     <ccts:Definition>Identifies the earliest version of the UBL 2 schema for this document type that defines all of the elements that might be encountered in the current instance.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTerm>UBL Version Identifier</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                     <ccts:DataType>Identifier. Type</ccts:DataType>
                     <ccts:Examples>2.0.5</ccts:Examples>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="CustomizationID"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Customization Identifier. Identifier</ccts:DictionaryEntryName>
                     <ccts:Definition>Identifies a user-defined customization of UBL for a specific use.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTerm>Customization Identifier</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                     <ccts:DataType>Identifier. Type</ccts:DataType>
                     <ccts:Examples>NES</ccts:Examples>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="ProfileID"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Profile Identifier. Identifier</ccts:DictionaryEntryName>
                     <ccts:Definition>Identifies a user-defined profile of the customization of UBL being used.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTerm>Profile Identifier</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                     <ccts:DataType>Identifier. Type</ccts:DataType>
                     <ccts:Examples>BasicProcurementProcess</ccts:Examples>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="ProfileExecutionID"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Profile Execution Identifier. Identifier</ccts:DictionaryEntryName>
                     <ccts:Definition>Identifies an instance of executing a profile, to associate all transactions in a collaboration.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTerm>Profile Execution Identifier</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                     <ccts:DataType>Identifier. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:ref name="ID"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Identifier</ccts:DictionaryEntryName>
                     <ccts:Definition>An identifier for this document, assigned by the sender.</ccts:Definition>
                     <ccts:Cardinality>1</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                     <ccts:DataType>Identifier. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         
         <rng:optional><rng:ref name="CopyIndicator"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Copy_ Indicator. Indicator</ccts:DictionaryEntryName>
                     <ccts:Definition>Indicates whether this document is a copy (true) or not (false).</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Copy</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Indicator</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
                     <ccts:DataType>Indicator. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="UUID"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. UUID. Identifier</ccts:DictionaryEntryName>
                     <ccts:Definition>A universally unique identifier for an instance of this document.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTerm>UUID</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                     <ccts:DataType>Identifier. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:ref name="IssueDate"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Issue Date. Date</ccts:DictionaryEntryName>
                     <ccts:Definition>The date, assigned by the sender, on which this document was issued.</ccts:Definition>
                     <ccts:Cardinality>1</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTerm>Issue Date</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
                     <ccts:DataType>Date. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         
         <rng:optional><rng:ref name="IssueTime"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Issue Time. Time</ccts:DictionaryEntryName>
                     <ccts:Definition>The time, assigned by the sender, at which this document was issued.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTerm>Issue Time</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Time</ccts:RepresentationTerm>
                     <ccts:DataType>Time. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="DueDate"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Due Date. Date</ccts:DictionaryEntryName>
                     <ccts:Definition>  The date on which Invoice is due.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTerm>Due Date</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
                     <ccts:DataType>Date. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="TaxPointDate"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Tax Point Date. Date</ccts:DictionaryEntryName>
                     <ccts:Definition>The date of the invoice for tax purposes, in accordance with the applicable tax regulation.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTerm>Tax Point Date</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
                     <ccts:DataType>Date. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="InvoiceTypeCode"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Invoice Type Code. Code</ccts:DictionaryEntryName>
                     <ccts:Definition>A code signifying the type of invoice.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTerm>Invoice Type Code</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                     <ccts:DataType>Code. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:zeroOrMore><rng:ref name="Note"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Note. Text</ccts:DictionaryEntryName>
                     <ccts:Definition>Free-form text pertinent to this document, conveying information that is not contained explicitly in other structures.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTerm>Note</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
                     <ccts:DataType>Text. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:optional><rng:ref name="DocumentCurrencyCode"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Document_ Currency Code. Code</ccts:DictionaryEntryName>
                     <ccts:Definition>A code signifying the default currency for this document.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Document</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Currency Code</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                     <ccts:DataTypeQualifier>Currency</ccts:DataTypeQualifier>
                     <ccts:DataType>Currency_ Code. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="TaxCurrencyCode"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Tax_ Currency Code. Code</ccts:DictionaryEntryName>
                     <ccts:Definition>A code signifying the currency used for tax amounts in the Invoice.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Tax</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Currency Code</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                     <ccts:DataTypeQualifier>Currency</ccts:DataTypeQualifier>
                     <ccts:DataType>Currency_ Code. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="PricingCurrencyCode"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Pricing_ Currency Code. Code</ccts:DictionaryEntryName>
                     <ccts:Definition>A code signifying the currency used for prices in the Invoice.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Pricing</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Currency Code</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                     <ccts:DataTypeQualifier>Currency</ccts:DataTypeQualifier>
                     <ccts:DataType>Currency_ Code. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="PaymentCurrencyCode"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Payment_ Currency Code. Code</ccts:DictionaryEntryName>
                     <ccts:Definition>A code signifying the currency used for payment in the Invoice.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Payment</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Currency Code</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                     <ccts:DataTypeQualifier>Currency</ccts:DataTypeQualifier>
                     <ccts:DataType>Currency_ Code. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="PaymentAlternativeCurrencyCode"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Payment Alternative_ Currency Code. Code</ccts:DictionaryEntryName>
                     <ccts:Definition>A code signifying the alternative currency used for payment in the Invoice.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Payment Alternative</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Currency Code</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                     <ccts:DataTypeQualifier>Currency</ccts:DataTypeQualifier>
                     <ccts:DataType>Currency_ Code. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="AccountingCostCode"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Accounting Cost Code. Code</ccts:DictionaryEntryName>
                     <ccts:Definition>An accounting cost code, applied to the Invoice as a whole.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTerm>Accounting Cost Code</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                     <ccts:DataType>Code. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="AccountingCost"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Accounting Cost. Text</ccts:DictionaryEntryName>
                     <ccts:Definition>An accounting cost code, applied to the Invoice as a whole, expressed as text.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTerm>Accounting Cost</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
                     <ccts:DataType>Text. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="LineCountNumeric"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Line Count. Numeric</ccts:DictionaryEntryName>
                     <ccts:Definition>The number of Invoice Lines in this document.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTerm>Line Count</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Numeric</ccts:RepresentationTerm>
                     <ccts:DataType>Numeric. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="BuyerReference"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Buyer_ Reference. Text</ccts:DictionaryEntryName>
                     <ccts:Definition>A reference provided by the buyer used for internal routing of the document.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Buyer</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Reference</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
                     <ccts:DataType>Text. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:zeroOrMore><rng:ref name="InvoicePeriod"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Invoice_ Period. Period</ccts:DictionaryEntryName>
                     <ccts:Definition>A period to which the Self Billed Invoice applies.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Invoice</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Period</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Period</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Period</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:optional><rng:ref name="OrderReference"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Order Reference</ccts:DictionaryEntryName>
                     <ccts:Definition>A reference to the Order with which this Invoice is associated.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTerm>Order Reference</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Order Reference</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Order Reference</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:zeroOrMore><rng:ref name="BillingReference"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Billing Reference</ccts:DictionaryEntryName>
                     <ccts:Definition>A reference to a billing document associated with this document.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTerm>Billing Reference</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Billing Reference</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Billing Reference</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:zeroOrMore><rng:ref name="ContractDocumentReference"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Contract_ Document Reference. Document Reference</ccts:DictionaryEntryName>
                     <ccts:Definition>A reference to a contract associated with this document.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Contract</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Document Reference</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Document Reference</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Document Reference</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:zeroOrMore><rng:ref name="DespatchDocumentReference"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Despatch_ Document Reference. Document Reference</ccts:DictionaryEntryName>
                     <ccts:Definition>A reference to a Despatch Advice associated with this document.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Despatch</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Document Reference</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Document Reference</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Document Reference</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:zeroOrMore><rng:ref name="ReceiptDocumentReference"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Receipt_ Document Reference. Document Reference</ccts:DictionaryEntryName>
                     <ccts:Definition>A reference to a Receipt Advice associated with this document.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Receipt</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Document Reference</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Document Reference</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Document Reference</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:zeroOrMore><rng:ref name="StatementDocumentReference"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Statement_ Document Reference. Document Reference</ccts:DictionaryEntryName>
                     <ccts:Definition>A reference to a Statement associated with this document.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Statement</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Document Reference</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Document Reference</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Document Reference</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:zeroOrMore><rng:ref name="OriginatorDocumentReference"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Originator_ Document Reference. Document Reference</ccts:DictionaryEntryName>
                     <ccts:Definition>A reference to an originator document associated with this document.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Originator</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Document Reference</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Document Reference</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Document Reference</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:zeroOrMore><rng:ref name="AdditionalDocumentReference"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Additional_ Document Reference. Document Reference</ccts:DictionaryEntryName>
                     <ccts:Definition>A reference to an additional document associated with this document.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Additional</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Document Reference</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Document Reference</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Document Reference</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:zeroOrMore><rng:ref name="ProjectReference"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Project Reference</ccts:DictionaryEntryName>
                     <ccts:Definition>A reference to a project associated with this document.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTerm>Project Reference</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Project Reference</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Project Reference</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:zeroOrMore><rng:ref name="Signature"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Signature</ccts:DictionaryEntryName>
                     <ccts:Definition>A signature applied to this document.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTerm>Signature</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Signature</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Signature</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:ref name="AccountingCustomerParty"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Accounting_ Customer Party. Customer Party</ccts:DictionaryEntryName>
                     <ccts:Definition>The accounting customer party.</ccts:Definition>
                     <ccts:Cardinality>1</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Accounting</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Customer Party</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Customer Party</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Customer Party</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         
         <rng:ref name="AccountingSupplierParty"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Accounting_ Supplier Party. Supplier Party</ccts:DictionaryEntryName>
                     <ccts:Definition>The accounting supplier party.</ccts:Definition>
                     <ccts:Cardinality>1</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Accounting</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Supplier Party</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Supplier Party</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Supplier Party</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         
         <rng:optional><rng:ref name="BuyerCustomerParty"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Buyer_ Customer Party. Customer Party</ccts:DictionaryEntryName>
                     <ccts:Definition>The buyer.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Buyer</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Customer Party</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Customer Party</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Customer Party</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="SellerSupplierParty"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Seller_ Supplier Party. Supplier Party</ccts:DictionaryEntryName>
                     <ccts:Definition>The seller.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Seller</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Supplier Party</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Supplier Party</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Supplier Party</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="PayeeParty"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Payee_ Party. Party</ccts:DictionaryEntryName>
                     <ccts:Definition>The payee.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Payee</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Party</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Party</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Party</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="TaxRepresentativeParty"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Tax Representative_ Party. Party</ccts:DictionaryEntryName>
                     <ccts:Definition>The tax representative.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Tax Representative</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Party</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Party</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Party</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:zeroOrMore><rng:ref name="Delivery"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Delivery</ccts:DictionaryEntryName>
                     <ccts:Definition>A delivery associated with this document.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTerm>Delivery</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Delivery</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Delivery</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:zeroOrMore><rng:ref name="DeliveryTerms"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Delivery Terms</ccts:DictionaryEntryName>
                     <ccts:Definition>A set of delivery terms associated with this document.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTerm>Delivery Terms</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Delivery Terms</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Delivery Terms</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:optional><rng:ref name="PaymentMeans"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Payment Means</ccts:DictionaryEntryName>
                     <ccts:Definition>Expected means of payment.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTerm>Payment Means</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Payment Means</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Payment Means</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:zeroOrMore><rng:ref name="PaymentTerms"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Payment Terms</ccts:DictionaryEntryName>
                     <ccts:Definition>A set of payment terms associated with this document.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTerm>Payment Terms</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Payment Terms</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Payment Terms</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:zeroOrMore><rng:ref name="PrepaidPayment"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Prepaid_ Payment. Payment</ccts:DictionaryEntryName>
                     <ccts:Definition>A prepaid payment.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Prepaid</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Payment</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Payment</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Payment</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:zeroOrMore><rng:ref name="AllowanceCharge"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Allowance Charge</ccts:DictionaryEntryName>
                     <ccts:Definition>A discount or charge that applies to a price component.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTerm>Allowance Charge</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Allowance Charge</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Allowance Charge</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:optional><rng:ref name="TaxExchangeRate"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Tax_ Exchange Rate. Exchange Rate</ccts:DictionaryEntryName>
                     <ccts:Definition>The exchange rate between the document currency and the tax currency.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Tax</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Exchange Rate</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Exchange Rate</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Exchange Rate</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="PricingExchangeRate"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Pricing_ Exchange Rate. Exchange Rate</ccts:DictionaryEntryName>
                     <ccts:Definition>The exchange rate between the document currency and the pricing currency.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Pricing</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Exchange Rate</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Exchange Rate</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Exchange Rate</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="PaymentExchangeRate"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Payment_ Exchange Rate. Exchange Rate</ccts:DictionaryEntryName>
                     <ccts:Definition>The exchange rate between the document currency and the payment currency.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Payment</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Exchange Rate</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Exchange Rate</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Exchange Rate</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="PaymentAlternativeExchangeRate"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Payment Alternative_ Exchange Rate. Exchange Rate</ccts:DictionaryEntryName>
                     <ccts:Definition>The exchange rate between the document currency and the payment alternative currency.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Payment Alternative</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Exchange Rate</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Exchange Rate</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Exchange Rate</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:zeroOrMore><rng:ref name="TaxTotal"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Tax Total</ccts:DictionaryEntryName>
                     <ccts:Definition>The total amount of a specific type of tax.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTerm>Tax Total</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Tax Total</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Tax Total</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:zeroOrMore><rng:ref name="WithholdingTaxTotal"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Withholding_ Tax Total. Tax Total</ccts:DictionaryEntryName>
                     <ccts:Definition>The total withholding tax.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Withholding</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Tax Total</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Tax Total</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Tax Total</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:ref name="LegalMonetaryTotal"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Legal_ Monetary Total. Monetary Total</ccts:DictionaryEntryName>
                     <ccts:Definition>A set of totals associated with this Invoice that are required for the Invoice to be a legal document.</ccts:Definition>
                     <ccts:Cardinality>1</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Legal</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Monetary Total</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Monetary Total</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Monetary Total</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         
         <rng:oneOrMore><rng:ref name="InvoiceLine"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Self Billed Invoice. Invoice Line</ccts:DictionaryEntryName>
                     <ccts:Definition>A line describing an Invoice Item.</ccts:Definition>
                     <ccts:Cardinality>1..n</ccts:Cardinality>
                     <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                     <ccts:PropertyTerm>Invoice Line</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Invoice Line</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Invoice Line</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:oneOrMore>
      
   </rng:define>
</rng:grammar><!-- ===== Copyright Notice ===== -->
<!--
  OASIS takes no position regarding the validity or scope of any 
  intellectual property or other rights that might be claimed to pertain 
  to the implementation or use of the technology described in this 
  document or the extent to which any license under such rights 
  might or might not be available; neither does it represent that it has 
  made any effort to identify any such rights. Information on OASIS's 
  procedures with respect to rights in OASIS specifications can be 
  found at the OASIS website. Copies of claims of rights made 
  available for publication and any assurances of licenses to be made 
  available, or the result of an attempt made to obtain a general 
  license or permission for the use of such proprietary rights by 
  implementors or users of this specification, can be obtained from 
  the OASIS Executive Director.

  OASIS invites any interested party to bring to its attention any 
  copyrights, patents or patent applications, or other proprietary 
  rights which may cover technology that may be required to 
  implement this specification. Please address the information to the 
  OASIS Executive Director.
  
  This document and translations of it may be copied and furnished to 
  others, and derivative works that comment on or otherwise explain 
  it or assist in its implementation may be prepared, copied, 
  published and distributed, in whole or in part, without restriction of 
  any kind, provided that the above copyright notice and this 
  paragraph are included on all such copies and derivative works. 
  However, this document itself may not be modified in any way, 
  such as by removing the copyright notice or references to OASIS, 
  except as needed for the purpose of developing OASIS 
  specifications, in which case the procedures for copyrights defined 
  in the OASIS Intellectual Property Rights document must be 
  followed, or as required to translate it into languages other than 
  English. 

  The limited permissions granted above are perpetual and will not be 
  revoked by OASIS or its successors or assigns. 

  This document and the information contained herein is provided on 
  an "AS IS" basis and OASIS DISCLAIMS ALL WARRANTIES, 
  EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY 
  WARRANTY THAT THE USE OF THE INFORMATION HEREIN 
  WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED 
  WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A 
  PARTICULAR PURPOSE.    
-->
