xsd/UBL2.2/xsd/maindoc/UBL-WeightStatement-2.2.rng

<?xml version="1.0"?>
<!--
  Library:           OASIS Universal Business Language (UBL) 2.2 OS
                     http://docs.oasis-open.org/ubl/os-UBL-2.2/
  Release Date:      09 July 2018
  Module:            xsd/maindoc/UBL-WeightStatement-2.2.xsd
  Generated on:      2018-07-08 20:04z
  Copyright (c) OASIS Open 2018. All Rights Reserved.
-->
<rng:grammar xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:ccts="urn:un:unece:uncefact:documentation:2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2" xmlns:cbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" xmlns="urn:oasis:names:specification:ubl:schema:xsd:WeightStatement-2" ns="urn:oasis:names:specification:ubl:schema:xsd:WeightStatement-2" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
   <!-- ===== Imports ===== -->
   <rng:include href="../common/UBL-CommonAggregateComponents-2.2.rng" ns="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
   <rng:include href="../common/UBL-CommonBasicComponents-2.2.rng" ns="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
   <rng:include href="../common/UBL-CommonExtensionComponents-2.2.rng" ns="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"/>
   <!-- ===== Element Declarations ===== -->
   <rng:start combine="choice"><rng:ref name="starting_WeightStatement"/></rng:start><rng:define name="starting_WeightStatement"><rng:element name="WeightStatement"><rng:ref name="WeightStatementType"/>
      <a:documentation>
         This element MUST be conveyed as the root element in any instance document based on this Schema expression
      </a:documentation>
   </rng:element></rng:define>
   <!-- ===== Type Definitions ===== -->
   <!-- ===== Aggregate Business Information Entity Type Definitions ===== -->
   <rng:define name="WeightStatementType">
      <a:documentation>
         
            <ccts:Component>
               <ccts:ComponentType>ABIE</ccts:ComponentType>
               <ccts:DictionaryEntryName>Weight Statement. Details</ccts:DictionaryEntryName>
               <ccts:Definition>A document used to report weight or verified mass measurements in the transport chain.</ccts:Definition>
               <ccts:ObjectClass>Weight Statement</ccts:ObjectClass>
               <ccts:AlternativeBusinessTerms>Weight Declaration, Weight Certificate</ccts:AlternativeBusinessTerms>
            </ccts:Component>
         
      </a:documentation>
      
         <rng:optional><rng:ref name="UBLExtensions"/>
            <a:documentation>
               A container for all extensions present in the document.
            </a:documentation>
         </rng:optional>
        <rng:optional><rng:ref name="UBLVersionID"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Weight Statement. UBL Version Identifier. Identifier</ccts:DictionaryEntryName>
                     <ccts:Definition>Identifies the earliest version of the UBL 2 schema for this document type that defines all of the elements that might be encountered in the current instance.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Weight Statement</ccts:ObjectClass>
                     <ccts:PropertyTerm>UBL Version Identifier</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                     <ccts:DataType>Identifier. Type</ccts:DataType>
                     <ccts:Examples>2.2</ccts:Examples>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="CustomizationID"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Weight Statement. Customization Identifier. Identifier</ccts:DictionaryEntryName>
                     <ccts:Definition>Identifies a user-defined customization of UBL for a specific use.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Weight Statement</ccts:ObjectClass>
                     <ccts:PropertyTerm>Customization Identifier</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                     <ccts:DataType>Identifier. Type</ccts:DataType>
                     <ccts:Examples>SMDG</ccts:Examples>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="ProfileID"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Weight Statement. Profile Identifier. Identifier</ccts:DictionaryEntryName>
                     <ccts:Definition>Identifies a user-defined profile of the customization of UBL being used.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Weight Statement</ccts:ObjectClass>
                     <ccts:PropertyTerm>Profile Identifier</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                     <ccts:DataType>Identifier. Type</ccts:DataType>
                     <ccts:Examples>SOLAS</ccts:Examples>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="ProfileExecutionID"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Weight Statement. Profile Execution Identifier. Identifier</ccts:DictionaryEntryName>
                     <ccts:Definition>Identifies an instance of executing a profile, to associate all transactions in a collaboration.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Weight Statement</ccts:ObjectClass>
                     <ccts:PropertyTerm>Profile Execution Identifier</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                     <ccts:DataType>Identifier. Type</ccts:DataType>
                     <ccts:Examples>BPP-1001</ccts:Examples>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:ref name="ID"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Weight Statement. Identifier</ccts:DictionaryEntryName>
                     <ccts:Definition>An identifier for this document, assigned by the sender.</ccts:Definition>
                     <ccts:Cardinality>1</ccts:Cardinality>
                     <ccts:ObjectClass>Weight Statement</ccts:ObjectClass>
                     <ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                     <ccts:DataType>Identifier. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         
         <rng:optional><rng:ref name="UUID"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Weight Statement. UUID. Identifier</ccts:DictionaryEntryName>
                     <ccts:Definition>A universally unique identifier for an instance of this document.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Weight Statement</ccts:ObjectClass>
                     <ccts:PropertyTerm>UUID</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                     <ccts:DataType>Identifier. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:ref name="IssueDate"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Weight Statement. Issue Date. Date</ccts:DictionaryEntryName>
                     <ccts:Definition>The date, assigned by the sender, on which this document was issued.</ccts:Definition>
                     <ccts:Cardinality>1</ccts:Cardinality>
                     <ccts:ObjectClass>Weight Statement</ccts:ObjectClass>
                     <ccts:PropertyTerm>Issue Date</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
                     <ccts:DataType>Date. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         
         <rng:optional><rng:ref name="IssueTime"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Weight Statement. Issue Time. Time</ccts:DictionaryEntryName>
                     <ccts:Definition>The time, assigned by the sender, at which this document was issued.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Weight Statement</ccts:ObjectClass>
                     <ccts:PropertyTerm>Issue Time</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Time</ccts:RepresentationTerm>
                     <ccts:DataType>Time. Type</ccts:DataType>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="WeightStatementTypeCode"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>BBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Weight Statement. Weight Statement Type Code. Code</ccts:DictionaryEntryName>
                     <ccts:Definition>A code signifying the type of Weight Statement.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Weight Statement</ccts:ObjectClass>
                     <ccts:PropertyTerm>Weight Statement Type Code</ccts:PropertyTerm>
                     <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                     <ccts:DataType>Code. Type</ccts:DataType>
                     <ccts:Examples>VGM, WeightCertificate</ccts:Examples>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:zeroOrMore><rng:ref name="Signature"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Weight Statement. Signature</ccts:DictionaryEntryName>
                     <ccts:Definition>A signature applied to this document.</ccts:Definition>
                     <ccts:Cardinality>0..n</ccts:Cardinality>
                     <ccts:ObjectClass>Weight Statement</ccts:ObjectClass>
                     <ccts:PropertyTerm>Signature</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Signature</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Signature</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:zeroOrMore>
         <rng:ref name="SenderParty"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Weight Statement. Sender_ Party. Party</ccts:DictionaryEntryName>
                     <ccts:Definition>The party sending this weight statement (e.g. Weighing Station, Shipper, Freight Forwarder, Carrier, ...).</ccts:Definition>
                     <ccts:Cardinality>1</ccts:Cardinality>
                     <ccts:ObjectClass>Weight Statement</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Sender</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Party</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Party</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Party</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         
         <rng:ref name="ReceiverParty"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Weight Statement. Receiver_ Party. Party</ccts:DictionaryEntryName>
                     <ccts:Definition>The party receiving this weight statement (e.g. Carrier, Terminal Operator, ...).</ccts:Definition>
                     <ccts:Cardinality>1</ccts:Cardinality>
                     <ccts:ObjectClass>Weight Statement</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Receiver</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Party</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Party</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Party</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         
         <rng:optional><rng:ref name="WeighingParty"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Weight Statement. Weighing_ Party. Party</ccts:DictionaryEntryName>
                     <ccts:Definition>The party executing the weight measure (e.g. Weighing Station).</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Weight Statement</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Weighing</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Party</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Party</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Party</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="ShipperParty"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Weight Statement. Shipper_ Party. Party</ccts:DictionaryEntryName>
                     <ccts:Definition>The party playing the role of the Shipper (BCO, FF or NVOCC) who is responsible for the VGM (e.g. according the SOLAS Convention).</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Weight Statement</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Shipper</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Party</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Party</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Party</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:optional><rng:ref name="ResponsibleParty"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Weight Statement. Responsible_ Party. Party</ccts:DictionaryEntryName>
                     <ccts:Definition>The party responsible for signing the VGM on behalf of the Shipper.</ccts:Definition>
                     <ccts:Cardinality>0..1</ccts:Cardinality>
                     <ccts:ObjectClass>Weight Statement</ccts:ObjectClass>
                     <ccts:PropertyTermQualifier>Responsible</ccts:PropertyTermQualifier>
                     <ccts:PropertyTerm>Party</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Party</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Party</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         </rng:optional>
         <rng:ref name="Shipment"/>
            <a:documentation>
               
                  <ccts:Component>
                     <ccts:ComponentType>ASBIE</ccts:ComponentType>
                     <ccts:DictionaryEntryName>Weight Statement. Shipment</ccts:DictionaryEntryName>
                     <ccts:Definition>The relevant shipment information with details on the transport equipment weight or mass measurements, including verified gross mass (VGM) information.</ccts:Definition>
                     <ccts:Cardinality>1</ccts:Cardinality>
                     <ccts:ObjectClass>Weight Statement</ccts:ObjectClass>
                     <ccts:PropertyTerm>Shipment</ccts:PropertyTerm>
                     <ccts:AssociatedObjectClass>Shipment</ccts:AssociatedObjectClass>
                     <ccts:RepresentationTerm>Shipment</ccts:RepresentationTerm>
                  </ccts:Component>
               
            </a:documentation>
         
      
   </rng:define>
</rng:grammar><!-- ===== Copyright Notice ===== -->
<!--
  OASIS takes no position regarding the validity or scope of any 
  intellectual property or other rights that might be claimed to pertain 
  to the implementation or use of the technology described in this 
  document or the extent to which any license under such rights 
  might or might not be available; neither does it represent that it has 
  made any effort to identify any such rights. Information on OASIS's 
  procedures with respect to rights in OASIS specifications can be 
  found at the OASIS website. Copies of claims of rights made 
  available for publication and any assurances of licenses to be made 
  available, or the result of an attempt made to obtain a general 
  license or permission for the use of such proprietary rights by 
  implementors or users of this specification, can be obtained from 
  the OASIS Executive Director.

  OASIS invites any interested party to bring to its attention any 
  copyrights, patents or patent applications, or other proprietary 
  rights which may cover technology that may be required to 
  implement this specification. Please address the information to the 
  OASIS Executive Director.
  
  This document and translations of it may be copied and furnished to 
  others, and derivative works that comment on or otherwise explain 
  it or assist in its implementation may be prepared, copied, 
  published and distributed, in whole or in part, without restriction of 
  any kind, provided that the above copyright notice and this 
  paragraph are included on all such copies and derivative works. 
  However, this document itself may not be modified in any way, 
  such as by removing the copyright notice or references to OASIS, 
  except as needed for the purpose of developing OASIS 
  specifications, in which case the procedures for copyrights defined 
  in the OASIS Intellectual Property Rights document must be 
  followed, or as required to translate it into languages other than 
  English. 

  The limited permissions granted above are perpetual and will not be 
  revoked by OASIS or its successors or assigns. 

  This document and the information contained herein is provided on 
  an "AS IS" basis and OASIS DISCLAIMS ALL WARRANTIES, 
  EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY 
  WARRANTY THAT THE USE OF THE INFORMATION HEREIN 
  WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED 
  WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A 
  PARTICULAR PURPOSE.    
-->
