xsd/UBL2.2/xsd/common/UBL-XAdES01903v141-201601-2.2.rng

<?xml version="1.0"?>
<!--
  Library:           OASIS Universal Business Language (UBL) 2.2 OS
                     http://docs.oasis-open.org/ubl/os-UBL-2.2/
  Release Date:      09 July 2018
  Module:            UBL-XAdES01903v141-201601-2.2.xsd
  Generated on:      2016-06-24 19:50(UTC)

  This is a copy of http://uri.etsi.org/01903/v1.4.1/XAdES01903v141-201601.xsd
  modified only to change the importing URIs for the XAdES v1.3.2 schema and
  W3C dsig schema.
-->
<rng:grammar xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:xades="http://uri.etsi.org/01903/v1.3.2#" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://uri.etsi.org/01903/v1.4.1#" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" ns="http://uri.etsi.org/01903/v1.4.1#" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
	<rng:include href="UBL-xmldsig-core-schema-2.2.rng" ns="http://www.w3.org/2000/09/xmldsig#"/>
	<rng:include href="UBL-XAdES01903v132-201601-2.2.rng" ns="http://uri.etsi.org/01903/v1.3.2#"/>
	<!-- Start CertificateValues -->
	<rng:start combine="choice"><rng:ref name="starting_TimeStampValidationData"/></rng:start><rng:define name="starting_TimeStampValidationData"><rng:element name="TimeStampValidationData"><rng:ref name="ValidationDataType"/></rng:element></rng:define>
	<rng:define name="ValidationDataType">
		
			<rng:optional><rng:ref name="CertificateValues"/></rng:optional>
			<rng:optional><rng:ref name="RevocationValues"/></rng:optional>
		
		<rng:optional><rng:attribute name="Id"><rng:data type="ID"/></rng:attribute></rng:optional>
		<rng:optional><rng:attribute name="URI"><rng:data type="anyURI"/></rng:attribute></rng:optional>
	</rng:define>
	<rng:start combine="choice"><rng:ref name="starting_SignaturePolicyStore"/></rng:start><rng:define name="starting_SignaturePolicyStore"><rng:element name="SignaturePolicyStore"><rng:ref name="SignaturePolicyStoreType"/></rng:element></rng:define>
	<rng:define name="SignaturePolicyStoreType">
		
			<rng:ref name="SPDocSpecification"/>
			<rng:choice>
				<rng:element name="SignaturePolicyDocument"><rng:data type="base64Binary"/></rng:element>
				<rng:element name="SigPolDocLocalURI"><rng:data type="anyURI"/></rng:element>
			</rng:choice>
		
		<rng:optional><rng:attribute name="Id"><rng:data type="ID"/></rng:attribute></rng:optional>
	</rng:define>
	<rng:start combine="choice"><rng:ref name="starting_SPDocSpecification"/></rng:start><rng:define name="starting_SPDocSpecification"><rng:element name="SPDocSpecification"><rng:ref name="ObjectIdentifierType"/></rng:element></rng:define>
	<!-- -->
	<!-- Start RenewedDigests-->
	<!-- -->
	<rng:start combine="choice"><rng:ref name="starting_RenewedDigests"/></rng:start><rng:define name="starting_RenewedDigests"><rng:element name="RenewedDigests"><rng:ref name="RenewedDigestsType"/></rng:element></rng:define>
	<rng:define name="RenewedDigestsType">
		
			<rng:ref name="DigestMethod"/>
			<rng:oneOrMore><rng:ref name="RecomputedDigestValue"/></rng:oneOrMore>
		
		<rng:optional><rng:attribute name="Id"><rng:data type="ID"/></rng:attribute></rng:optional>
	</rng:define>
	<rng:start combine="choice"><rng:ref name="starting_RecomputedDigestValue"/></rng:start><rng:define name="starting_RecomputedDigestValue"><rng:element name="RecomputedDigestValue"><rng:ref name="RecomputedDigestValueType"/></rng:element></rng:define>
	<rng:define name="RecomputedDigestValueType">
		
			<rng:ref name="DigestValueType"/>
				<rng:attribute name="Order"><rng:data type="integer"/></rng:attribute>
			
		
	</rng:define>
	<!-- -->
	<!-- End RenewedDigests-->
	<!-- -->
	<!-- ArchiveTimeStamp in namespace with URI 'http://uri.etsi.org/01903/v1.4.1#'-->
	<rng:start combine="choice"><rng:ref name="starting_ArchiveTimeStamp"/></rng:start><rng:define name="starting_ArchiveTimeStamp"><rng:element name="ArchiveTimeStamp"><rng:ref name="XAdESTimeStampType"/></rng:element></rng:define>	
	<!--CompleteCertificateRefsV2 and AttributeCertificateRefsV2-->
	<rng:start combine="choice"><rng:ref name="starting_CompleteCertificateRefsV2"/></rng:start><rng:define name="starting_CompleteCertificateRefsV2"><rng:element name="CompleteCertificateRefsV2"><rng:ref name="CompleteCertificateRefsTypeV2"/></rng:element></rng:define>
	<rng:start combine="choice"><rng:ref name="starting_AttributeCertificateRefsV2"/></rng:start><rng:define name="starting_AttributeCertificateRefsV2"><rng:element name="AttributeCertificateRefsV2"><rng:ref name="CompleteCertificateRefsTypeV2"/></rng:element></rng:define>
	<rng:define name="CompleteCertificateRefsTypeV2">
		
			<rng:element name="CertRefs"><rng:ref name="CertIDListV2Type"/></rng:element>
		
		<rng:optional><rng:attribute name="Id"><rng:data type="ID"/></rng:attribute></rng:optional>
	</rng:define>
	<!-- SigAndRefsTimeStampV2 and RefsOnlyTimeStampV2-->
	<rng:start combine="choice"><rng:ref name="starting_SigAndRefsTimeStampV2"/></rng:start><rng:define name="starting_SigAndRefsTimeStampV2"><rng:element name="SigAndRefsTimeStampV2"><rng:ref name="XAdESTimeStampType"/></rng:element></rng:define>
	<rng:start combine="choice"><rng:ref name="starting_RefsOnlyTimeStampV2"/></rng:start><rng:define name="starting_RefsOnlyTimeStampV2"><rng:element name="RefsOnlyTimeStampV2"><rng:ref name="XAdESTimeStampType"/></rng:element></rng:define>
</rng:grammar>
